
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 121, 143);
    color: #ffffff;
    align-items: center;
    min-height: 100vh;
}

/* For iPhone (portrait and landscape) */
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px; 
        padding: 10px;
    }
    .choices button {
        font-size: 4rem;
        width: 100%;
        min-width: 80px;
    }
    #playerDisplay, #computerDisplay {
        font-size: 1.5rem;
    }

    #resultDisplay {
        font-size: 3rem;
    }
    .logo-container img {
        width: 50px;
        height: 50px;
    }

    .logo-container h2 {
        top: 10px;
        left: 5px;
        font-size: 1.5rem;
    }

    .scoreBoard {
        font-size: 1.5rem;
    }
}


/* For iPad (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 16px; 
        padding: 20px; 
    }

    .choices button {
        font-size: 6rem;
        width: 80%;
        min-width: 100px;
    }
    #playerDisplay, #computerDisplay {
        font-size: 2.5rem;
    }

    #resultDisplay {
        font-size: 4.5rem;
    }
    .logo-container img {
        width: 60px;
        height: 60px;
    }

    .logo-container h2 {
        top: 15px;
        left: 8px;
        font-size: 2rem;
    }

    .scoreBoard {
        font-size: 2rem;
    }


}

/* For laptop (larger screens) */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px; 
        padding: 30px; 
    }
    .choices button {
        font-size: 8rem;
	width: 75%;
        min-width: 120px;
    }

    #playerDisplay, #computerDisplay {
        font-size: 3rem;
    }

    #resultDisplay {
        font-size: 5.5rem;
    }

    .logo-container img {
        width: 75px;
        height: 75px;
    }

    .logo-container h2 {
        top: 18px;
        left: 10px;
        font-size: 2.5rem;
    }

    .scoreBoard {
        font-size: 2.5rem;
    }


}


.choices{
    margin-bottom: 30px;
}

.choices button{
    width: 75%;
    font-size: 8rem;
    min-width: 120px;
    margin: 0 5px;
    border-radius: 400px;
    background-color: white;
    border: 0cm;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: rgb(53, 121, 143);
}

#playerDisplay, #computerDisplay{
    font-size: 3rem;
}

#resultDisplay {
    font-size: 5.5rem;
    margin: 20px 0;
    color: azure;
}

.logo-container img {
    float: left;
    width: 75px;
    height: 75px;
}

.logo-container h2 {
    position: relative;
    top: 18px;
    left: 10px;
}

.scoreBoard {
    font-size: 2.5rem;
}

#playerScoreDisplay{
    color:rgb(19, 214, 19);
}

#computerScoreDisplay{
    color: rgb(250, 11, 11);
}

