body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color: rgb(53, 121, 143);
    color: #ffffff;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.choices {
    margin-bottom: 3vw;
}

.choices button {
    width: 75%;
    font-size: 5vw;
    min-width: 50vw;
    margin:0.5%;
    border-radius:50vw;
    background-color: white;
    border: 1;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: rgb(53, 121, 143);
}

#playerDisplay, #computerDisplay {
    font-size: 3rem;
}

#resultDisplay {
    font-size: 5.5rem;
    margin: 10 1vw;
    color: azure;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10 10px;
}

.logo-container img {
    float: left;
    width: 75px;
    height: 75px;
}



.scoreBoard {
    font-size: 2.5rem;
}

#playerScoreDisplay {
    color: rgb(19, 214, 19);
}

#computerScoreDisplay {
    color: rgb(250, 11, 11);
}

/* For iPhone (portrait and landscape) */
@media only screen and (max-width: 767px) {
    body {
        font-size: 10px;
        margin-top: 10vw;
    }

    .choices button {
        font-size: 2rem;         
        width: 50%;
        min-width: 20px;
    }

    #playerDisplay, #computerDisplay {
        font-size: 1.5rem;
    }

    #resultDisplay {
        font-size: 1rem;
    }

    .logo-container img {
        width: 50px;
        height: 50px;
        top: 30px;
        margin-top: 20vw;
    }

    

    .scoreBoard {
        font-size: 1rem;
    }
}

/* Media query for iPad (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 10px;
        padding: 20px;
    }

    .choices button {
        font-size: 6rem;
        width: 80%;
        min-width: 100px;
    }

    #playerDisplay, #computerDisplay {
        font-size: 2.5rem;
    }

    #resultDisplay {
        font-size: 4.5rem;
    }

    .logo-container img {
        width: 60px;
        height: 60px;
    }


    .scoreBoard {
        font-size: 2rem;
    }
}

/* Media query for laptop (larger screens) */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px;
        padding: 30px;
    }

    .choices button {
        font-size: 4vw; 
        width: 75%;
        min-width: 120px;
    }

    #playerDisplay, #computerDisplay {
        font-size: 3rem;
    }

    #resultDisplay {
        font-size: 5.5rem;
    }

    .logo-container img {
        width: 75px;
        height: 75px;
    }


    .scoreBoard {
        font-size: 2.5rem;
    }
}
